<div fxLayoutAlign="center">
  <form
    class="example-form"
    [formGroup]="searchPetForm"
    (ngSubmit)="onSubmit()"
  >
    <mat-form-field class="example-full-width">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Ex. Benji" value="" formControlName="name" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Species</mat-label>
      <input
        matInput
        placeholder="Ex. Dog"
        value=""
        formControlName="species"
      />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Breed</mat-label>
      <input
        matInput
        placeholder="Ex. Labrador"
        value=""
        formControlName="breed"
      />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Color 1</mat-label>
      <input
        matInput
        placeholder="Ex. Black"
        value=""
        formControlName="color1"
      />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Color 2</mat-label>
      <input
        matInput
        placeholder="Ex. Brown"
        value=""
        formControlName="color2"
      />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Town</mat-label>
      <input
        matInput
        placeholder="Ex. East Kilbride"
        value=""
        formControlName="town"
      />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>City</mat-label>
      <input
        matInput
        placeholder="Ex. Glasgow"
        value=""
        formControlName="city"
      />
    </mat-form-field>
    <div fxLayoutAlign="center">
      <button mat-raised-button color="primary" fxLayoutAlign="center">
        Submit
      </button>
    </div>
  </form>
</div>
